<div class="container">
	<div class="row">
		<header id="header" class="clearfix">
			<div class="col-md-4">
				<a href="index.html">
					<h1 class="SiteBrand">PopCode - Deliciously Agile</h1>
				</a>
			</div>

			<div class="col-md-4 hidden-sm hidden-xs">
				<ul class="HeaderLinks">
					<li><a href="index.html#">Quicklinks <i class="fa-location medf-size"></i></a>  <i style="color:#c5c5c5;">|</i>
					</li>
					<li><a href="index.html#" class="dropdown-toggle" data-toggle="dropdown">Select from dropdown <i class="fa-angle-down"></i></a>

						<ul class="dropdown-menu pull-right">
							<li><a href="index.html#">services</a>
							</li>
							<li><a href="index.html#">services single</a>
							</li>
							<li><a href="index.html#">services singles in parallax</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>

			<div class="col-md-4">
				<form class="navbar-form" role="search">
					<div id="form-group">
						<input class="SearchInput WhiteSkin form-control" type="text" placeholder="Search">
						<div class="SearchIcon"><i class="fa-search"></i>
						</div>
						<!-- ----------- Begin:HeaderSocials ----------- -->
						<div class="HeaderSocialIcons">
							<ul>
								<li><a href="facebook.com/popcoders"><i class="fa-facebook"></i></a>
								</li>
								<li><a href="twitter.com/popcoders"><i class="fa-twitter"></i></a>
								</li>
								<li><a href="index.html#"><i class="fa-linkedin"></i></a>
								</li>
								<li><a href="index.html#"><i class="fa-behance"></i></a>
								</li>
								<li><a href="index.html#"><i class="fa-dribbble"></i></a>
								</li>
								<li><a href="index.html#"><i class="fa-skype"></i></a>
								</li>
							</ul>
						</div>
						<!-- ----------- Finish:HeaderSocials ----------- -->
					</div>
				</form>
			</div>
			<!-- ----------- Finish:Search ----------- -->
		</header>
		<!-- ----------- Finish:Header ----------- -->
	</div>
</div>

<!--
============================================
NAVIGATION
============================================= -->
<div id="NavigationWrapper" class="clearfix">
	<div class="container">
		<div class="row">
			<!-- ----------- Begin:Slogan ----------- -->
			<div class="col-md-4 col-sm-12 RemovePaddingRight">
				<div class="Slogan">
					<h3>WE ARE CREATIVE THINKERS</h3>
				</div>
			</div>
			<!-- ----------- Finish:Slogan ----------- -->

			<!-- ----------- Begin:Navigation ----------- -->
			<div class="col-md-8 col-sm-12 RemovePaddingLeft">
				<nav class="navbar navbar-default" role="navigation">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<div class="navigation collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" href="index.html#">
									HOME <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="index.html">Home (Default)</a>
									</li>
									<li><a href="index%20_gallery_slider.html">Gallery Slider</a>
									</li>
									<li><a href="home_2.html">Home (Full Width)</a>
									</li>
									<li><a href="home_2_layers.html">Layers Slider</a>
									</li>
									<li><a href="home_2_partialview_1.html">Partial Slider 1</a>
									</li>
									<li><a href="home_2_partialview_2.html">Partial Slider 2</a>
									</li>
									<li><a href="home_2_partialview_3.html">Partial Slider 3</a>
									</li>
									<li><a href="home_2_tabs.html">Tabs Slider</a>
									</li>
									<li><a href="home_2_videogallery.html">Video Slider</a>
									</li>
								</ul>
							</li>
							<li><a href="about.html">ABOUT</a>
							</li>
							<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" href="index.html#">
									SERVICES <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="services.html">Services</a>
									</li>
									<li><a href="services_single.html">Services Single</a>
									</li>
								</ul>
							</li>
							<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" href="index.html#">
									PORTFOLIO <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="portfolio_single.html">Portfolio Single</a>
									</li>
									<li><a href="portfolio_2column.html">2 Column Portfolio</a>
									</li>
									<li><a href="portfolio_3column.html">3 Column Portfolio</a>
									</li>
									<li><a href="portfolio_4column.html">4 Column Portfolio</a>
									</li>
								</ul>
							</li>
							<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" href="index.html#">
									BLOG <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="blog.html">Blog</a>
									</li>
									<li><a href="blog_single.html">Blog Single</a>
									</li>
									<li><a href="blog_left_sidebar.html">Blog Left Sidebar</a>
									</li>
								</ul>
							</li>
							<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" href="index.html#">
									PAGES <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="columns.html">Columns</a>
									</li>
									<li><a href="contact.html">Contact Us</a>
									</li>
									<li><a href="typography.html">Typography</a>
									</li>
									<li><a href="error404.html">404 Page</a>
									</li>
									<li><a href="icons.html">Icons</a>
									</li>
									<li><a href="elements.html">Elements</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</nav>
			</div>
			<!-- ----------- Finish:Navigation ----------- -->
		</div>
	</div>
	<!-- ----------- Begin:ColorPicker ----------- -->
	<div id="ColorPicker">
		<ul class="Squares">
			<li class="orange">
				<a href="index.html#"></a>
			</li>
			<li class="green">
				<a href="index.html#"></a>
			</li>
			<li class="blue">
				<a href="index.html#"></a>
			</li>
			<li class="purple">
				<a href="index.html#"></a>
			</li>
			<li class="CloseColorPicker"><span id="CloseColorPicker"><i class="fa-cancel"></i></span>
			</li>
		</ul>
	</div>
	<!-- ----------- Finish:ColorPicker ----------- -->

	<!-- ----------- Begin:StyleSwitcher ----------- -->
	<div class="StyleSwitcher hidden-sm hidden-xs">
		<span id="OpenColorPicker"><i class="fa-flow-parallel"></i></span>
	</div>
	<!-- ----------- Finish:StyleSwitcher ----------- -->
</div>

<!--
============================================
HOME PAGE "CONTENT AND IMAGE" SLIDER
============================================= -->
<div id="MainSlider">
	<div class="container">
		<div class="row">
			<!-- ----------- Begin:ContentSlides ----------- -->
			<div class="col-md-4 col-sm-12 RemovePaddingRight">
				<div class="MainSliderContent">
					<div class="MainSliderEntryWrapper">
						<a data-slide-index="0" href="">
							<div class="MainSliderEntry">
								<h2>LOREM IPSUM DOLOR SIR AMET</h2>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								</p>
								<p class="AddPaddingTop" style="font-size:11px;">
									<i class="fa-clock"></i> 14th April 2013
								</p>
								<p style="font-size:11px;">
									<i class="fa-user"></i> Author Name
								</p>
							</div>
						</a>
						<a data-slide-index="1" href="">
							<div class="MainSliderEntry">
								<h2>HABITANT MORBI TRISTIQUE ET</h2>
								<p>
									Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum scelerisque.
								</p>
								<p class="AddPaddingTop" style="font-size:11px;">
									<i class="fa-clock"></i> 14th April 2013
								</p>
								<p style="font-size:11px;">
									<i class="fa-user"></i> Author Name
								</p>
							</div>
						</a>
						<a data-slide-index="2" href="">
							<div class="MainSliderEntry">
								<h2>SENECTUS ET NEYUS ET MALESUADA</h2>
								<p>
									Vestibulum scelerisque dignissim massa, sed gravida nisi sollicitudin vel. Sed nec erat feugiat orci hendrerit.
								</p>
								<p class="AddPaddingTop" style="font-size:11px;">
									<i class="fa-clock"></i> 14th April 2013
								</p>
								<p style="font-size:11px;">
									<i class="fa-user"></i> Author Name
								</p>
							</div>
						</a>
					</div>
					<div class="MainSliderButtons">
						<ul>
							<li><a href="index.html#">GET STARTED</a>
							</li>
							<li><a class="active" href="index.html#">READ MORE</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- ----------- Finish:ContentSlides ----------- -->

			<!-- ----------- Begin:ImageSlides ----------- -->
			<div class="col-md-8 col-sm-12 RemovePaddingLeft">
				<div class="MainSliderImages">
					<a href="index.html#">
						<img src="images/slide-show/slide1.jpg" class="img-responsive" title="Your Image Caption to Go Here" alt="alternative information">
					</a>
					<a href="index.html#">
						<img src="images/slide-show/slide2.jpg" class="img-responsive" title="Your Image Caption to Go Here" alt="alternative information">
					</a>
					<a href="index.html#">
						<img src="images/slide-show/slide3.jpg" class="img-responsive" title="Your Image Caption to Go Here" alt="alternative information">
					</a>
				</div>
			</div>
			<!-- ----------- Finish:ImageSlides ----------- -->
		</div>
	</div>
</div>

<!--
============================================
ANNOUCEMENT
============================================= -->
<div class="container">
	<div class="AnnounceTable WhiteSkin clearfix">
		<!-- ----------- Begin:AnnounceSlider ----------- -->
		<div class="col-md-9">
			<div class="AnnounceSlider">
				<li>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit morbi tellus.
					</p>
				</li>
				<li>
					<p>
						Pellentesque habitant morbi tristique senectus et netus et malesuada.
					</p>
				</li>
				<li>
					<p>
						Vestibulum scelerisque dignissim massa, sed gravida nisi sollicitudin vel.
					</p>
				</li>
			</div>
		</div>
		<!-- ----------- Finish:AnnounceSlider ----------- -->

		<!-- ----------- Begin:AnnounceDropdown ----------- -->
		<div class="col-md-3 hidden-sm hidden-xs">
			<ul class="AnnounceDropdown pull-right">
				<li>WEBSITE DESIGN</li>
				<li class="dropdown" style="border-right: 1px solid #544b4a;"><a href="index.html#" class="ddown dropdown-toggle" data-toggle="dropdown"><i class="fa-angle-down"></i></a>
					<ul class="dropdown-menu">
						<li><a href="index.html#">GRAPHIC DESIGN</a>
						</li>
						<li><a href="index.html#">PRINT</a>
						</li>
						<li><a href="index.html#">MULTIMEDIA</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- ----------- finish:AnnounceDropdown ----------- -->
	</div>
</div>

<!--
============================================
SERVICES & NEW PROJECT
============================================= -->
<div class="container" style="margin-bottom: 10px;">
	<div class="row">
		<!-- ----------- Begin:ServicesMosaic ----------- -->
		<div class="col-sm-8">
			<div class="row">
				<!-- ----------- Begin:1stMosaic ----------- -->
				<div class="col-sm-6">
					<a href="index.html#">
						<div class="Mosaic WhiteSkin">
							<i class="fa-rocket VeryLargeSize"></i>
							<h3>DESIGN</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
						</div>
					</a>
				</div>
				<!-- ----------- Finish:1stMosaic ----------- -->

				<!-- ----------- Begin:2ndMosaic ----------- -->
				<div class="col-sm-6">
					<a href="index.html#">
						<div class="Mosaic WhiteSkin">
							<i class="fa-lightbulb VeryLargeSize"></i>
							<h3>SEO</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
						</div>
					</a>
				</div>
				<!-- ----------- Finish:2ndMosaic ----------- -->
			</div>
			<div class="row">
				<!-- ----------- Begin:3rdMosaic ----------- -->
				<div class="col-sm-6">
					<a href="index.html#">
						<div class="Mosaic WhiteSkin">
							<i class="fa-clock VeryLargeSize"></i>
							<h3>SUPPORT</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
						</div>
					</a>
				</div>
				<!-- ----------- Finish:3rdMosaic ----------- -->

				<!-- ----------- Begin:4thMosaic ----------- -->
				<div class="col-sm-6">
					<a href="index.html#">
						<div class="Mosaic WhiteSkin">
							<i class="fa-puzzle VeryLargeSize"></i>
							<h3>PHOTOSHOP</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
						</div>
					</a>
				</div>
				<!-- ----------- Finish:4thMosaic ----------- -->
			</div>
		</div>
		<!-- ----------- Finish:ServicesMosaic ----------- -->

		<!-- ----------- Begin:NewProject ----------- -->
		<div class="col-sm-4">
			<div class="NewProject WhiteSkin">
				<!-- ----------- Begin:NewProjectHeader ----------- -->
				<div class="NewProjectHeader">
					<!-- ----------- Begin:NewProjectTitle ----------- -->
					<div class="NewProjectTitle">
						<h4>NEW PROJECT</h4>
					</div>
					<!-- ----------- Finish:NewProjectTitle ----------- -->
					<a class="NewProjectSliderCtrls">
						<span id="slider-next">
						</span>
					</a>
					<a class="NewProjectSliderCtrls">
						<span id="slider-prev">
						</span>
					</a>
				</div>
				<!-- ----------- Finish:NewProjectHeader ----------- -->

				<!-- ----------- Begin:NewProjectImageSlides ----------- -->
				<div id="NewProjectImageSlides">
					<a href="index.html#">
						<img class="img-responsive" src="images/new-project/project1.jpg" title="Image title" alt="alternative information">
					</a>
					<a href="index.html#">
						<img class="img-responsive" src="images/new-project/project2.jpg" title="Image title" alt="alternative information">
					</a>
					<a href="index.html#">
						<img class="img-responsive" src="images/new-project/project3.jpg" title="Image title" alt="alternative information">
					</a>
				</div>
				<!-- ----------- Finish:NewProjectImageSlides ----------- -->

				<!-- ----------- Begin:NewProjectContentSlides ----------- -->
				<div id="NewProjectContentSlides">
					<!-- ----------- Begin:1stContent ----------- -->
					<a data-slide-index="0" href="">
						<div class="NewProjectContent">
							<h4>
								WEBSITE DESIGN
							</h4>

							<i>
								24th Febuary 2012
							</i>

							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							</p>
						</div>
					</a>
					<!-- ----------- Finish:1stContent ----------- -->

					<!-- ----------- Begin:2ndContent ----------- -->
					<a data-slide-index="1" href="">
						<div class="NewProjectContent">
							<h4>
								GRAPHIC DESIGN
							</h4>

							<i>
								10th March 2011
							</i>

							<p>
								Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.
							</p>
						</div>
					</a>
					<!-- ----------- Finish:2ndContent ----------- -->

					<!-- ----------- Begin:3stContent ----------- -->
					<a data-slide-index="2" href="">
						<div class="NewProjectContent">
							<h4>
								PRINT
							</h4>

							<i>
								25th June 2013
							</i>

							<p>
								Cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</p>
						</div>
					</a>
					<!-- ----------- Finish:3stContent ----------- -->
				</div>
				<!-- ----------- Begin:NewProjectFooter ----------- -->
				<div class="NewProjectFooter">
					<a href="index.html#" class="NewProjectVeiwBtn">View Project</a>
				</div>
				<!-- ----------- Finish:NewProjectFooter ----------- -->
			</div>
		</div>
		<!-- ----------- Finish:NewProject ----------- -->
	</div>
</div>

<!--
============================================
RECENT WORKS
============================================= -->
<div class="container hidden-xs">
	<div class="RecentWorks clearfix">
		<!-- ----------- Begin:RecentWorksHeader ----------- -->
		<div class="RecentWorksHeader clearfix">
			<h2>RECENT WORKS</h2>

			<div class="RecentWorksCarouselCtrls clearfix">
				<a data-slide="next" href="index.html#RecentWorks" class="RecentWorksCarouselBtns"><i class="fa-angle-right"></i></a>
				<a data-slide="prev" href="index.html#RecentWorks" class="RecentWorksCarouselBtns"><i class="fa-angle-left"></i></a>
			</div>
		</div>
		<!-- ----------- Finish:RecentWorksHeader ----------- -->

		<!-- ----------- Begin:RecentWorksCarousel ----------- -->
		<div class="RecentWorksCarousel">
			<div class="carousel slide" id="RecentWorks">
				<div class="carousel-inner">
					<div class="item active">
						<!-- ----------- Begin:First4Thumbnails ----------- -->
						<ul class="thumbnails">
							<div class="row">
								<!-- ----------- Begin:1stThumbnail ----------- -->
								<li class="col-sm-3 col-xs-3">
									<div class="ImageWrapper">
										<img class="img-responsive" src="images/recent-works/recent1.jpg" title="Image title" alt="alternative information">
										<div class="ImageCaption">
											<div class="CaptionContent">
												<h3>PROJECT TITLE</h3>
												<small>Graphic Design</small>
											</div>
										</div>
										<div class="Buttons">
											<a href=""><i class="fa-link"></i></a>
											<a href="images/recent-works/recent1.jpg" class="fancybox"><i class="fa-search"></i></a>
										</div>
									</div>
								</li>
								<!-- ----------- Finish:1stThumbnail ----------- -->

								<!-- ----------- Begin:2ndThumbnail ----------- -->
								<li class="col-sm-3 col-xs-3">
									<div class="ImageWrapper">
										<img class="img-responsive" src="images/recent-works/recent2.jpg" title="Image title" alt="alternative information">
										<div class="ImageCaption">
											<div class="CaptionContent">
												<h3>PROJECT TITLE</h3>
												<small>Graphic Design</small>
											</div>
										</div>
										<div class="Buttons">
											<a href=""><i class="fa-link"></i></a>
											<a href="images/recent-works/recent2.jpg" class="fancybox"><i class="fa-search"></i></a>
										</div>
									</div>
								</li>
								<!-- ----------- Finish:2ndThumbnail ----------- -->

								<!-- ----------- Begin:3rdThumbnail ----------- -->
								<li class="col-sm-3 col-xs-3">
									<div class="ImageWrapper">
										<img class="img-responsive" src="images/recent-works/recent3.jpg" title="Image title" alt="alternative information">
										<div class="ImageCaption">
											<div class="CaptionContent">
												<h3>PROJECT TITLE</h3>
												<small>Graphic Design</small>
											</div>
										</div>
										<div class="Buttons">
											<a href=""><i class="fa-link"></i></a>
											<a href="images/recent-works/recent3.jpg" class="fancybox"><i class="fa-search"></i></a>
										</div>
									</div>
								</li>
								<!-- ----------- Finish:3rdThumbnail ----------- -->

								<!-- ----------- Begin:4thThumbnail ----------- -->
								<li class="col-sm-3 col-xs-3">
									<div class="ImageWrapper">
										<img class="img-responsive" src="images/recent-works/recent4.jpg" title="Image title" alt="alternative information">
										<div class="ImageCaption">
											<div class="CaptionContent">
												<h3>PROJECT TITLE</h3>
												<small>Graphic Design</small>
											</div>
										</div>
										<div class="Buttons">
											<a href=""><i class="fa-link"></i></a>
											<a href="images/recent-works/recent4.jpg" class="fancybox"><i class="fa-search"></i></a>
										</div>
									</div>
								</li>
								<!-- ----------- Finish:4thThumbnail ----------- -->
							</div>
						</ul>
						<!-- ----------- Finish:First4Thumbnails ----------- -->
					</div>
					<div class="item">
						<!-- ----------- Begin:Second4Thumbnails ----------- -->
						<ul class="thumbnails">
							<div class="row">
								<!-- ----------- Begin:1stThumbnail ----------- -->
								<li class="col-sm-3 col-xs-3">
									<div class="ImageWrapper">
										<img class="img-responsive" src="images/recent-works/recent5.jpg" title="Image title" alt="alternative information">
										<div class="ImageCaption">
											<div class="CaptionContent">
												<h3>PROJECT TITLE</h3>
												<small>Graphic Design</small>
											</div>
										</div>
										<div class="Buttons">
											<a href=""><i class="fa-link"></i></a>
											<a href="images/recent-works/recent5.jpg" class="fancybox"><i class="fa-search"></i></a>
										</div>
									</div>
								</li>
								<!-- ----------- Finish:1stThumbnail ----------- -->

								<!-- ----------- Begin:2ndThumbnail ----------- -->
								<li class="col-sm-3 col-xs-3">
									<div class="ImageWrapper">
										<img class="img-responsive" src="images/recent-works/recent6.jpg" title="Image title" alt="alternative information">
										<div class="ImageCaption">
											<div class="CaptionContent">
												<h3>PROJECT TITLE</h3>
												<small>Graphic Design</small>
											</div>
										</div>
										<div class="Buttons">
											<a href=""><i class="fa-link"></i></a>
											<a href="images/recent-works/recent6.jpg" class="fancybox"><i class="fa-search"></i></a>
										</div>
									</div>
								</li>
								<!-- ----------- Finish:2ndThumbnail ----------- -->

								<!-- ----------- Begin:3rdThumbnail ----------- -->
								<li class="col-sm-3 col-xs-3">
									<div class="ImageWrapper">
										<img class="img-responsive" src="images/recent-works/recent7.jpg" title="Image title" alt="alternative information">
										<div class="ImageCaption">
											<div class="CaptionContent">
												<h3>PROJECT TITLE</h3>
												<small>Graphic Design</small>
											</div>
										</div>
										<div class="Buttons">
											<a href=""><i class="fa-link"></i></a>
											<a href="images/recent-works/recent7.jpg" class="fancybox"><i class="fa-search"></i></a>
										</div>
									</div>
								</li>
								<!-- ----------- Finish:3rdThumbnail ----------- -->

								<!-- ----------- Begin:4thThumbnail ----------- -->
								<li class="col-sm-3 col-xs-3">
									<div class="ImageWrapper">
										<img class="img-responsive" src="images/recent-works/recent8.jpg" title="Image title" alt="alternative information">
										<div class="ImageCaption">
											<div class="CaptionContent">
												<h3>PROJECT TITLE</h3>
												<small>Graphic Design</small>
											</div>
										</div>
										<div class="Buttons">
											<a href=""><i class="fa-link"></i></a>
											<a href="images/recent-works/recent8.jpg" class="fancybox"><i class="fa-search"></i></a>
										</div>
									</div>
								</li>
								<!-- ----------- Finish:4thThumbnail ----------- -->
							</div>
						</ul>
						<!-- ----------- Finish:Second4Thumbnails ----------- -->
					</div>
					<div class="item">
						<!-- ----------- Begin:Third4Thumbnails ----------- -->
						<ul class="thumbnails">
							<div class="row">
								<!-- ----------- Begin:1stThumbnail ----------- -->
								<li class="col-sm-3 col-xs-3">
									<div class="ImageWrapper">
										<img class="img-responsive" src="images/recent-works/recent9.jpg" title="Image title" alt="alternative information">
										<div class="ImageCaption">
											<div class="CaptionContent">
												<h3>PROJECT TITLE</h3>
												<small>Graphic Design</small>
											</div>
										</div>
										<div class="Buttons">
											<a href=""><i class="fa-link"></i></a>
											<a href="images/recent-works/recent9.jpg" class="fancybox"><i class="fa-search"></i></a>
										</div>
									</div>
								</li>
								<!-- ----------- Finish:1stThumbnail ----------- -->

								<!-- ----------- Begin:2ndThumbnail ----------- -->
								<li class="col-sm-3 col-xs-3">
									<div class="ImageWrapper">
										<img class="img-responsive" src="images/recent-works/recent10.jpg" title="Image title" alt="alternative information">
										<div class="ImageCaption">
											<div class="CaptionContent">
												<h3>PROJECT TITLE</h3>
												<small>Graphic Design</small>
											</div>
										</div>
										<div class="Buttons">
											<a href=""><i class="fa-link"></i></a>
											<a href="images/recent-works/recent10.jpg" class="fancybox"><i class="fa-search"></i></a>
										</div>
									</div>
								</li>
								<!-- ----------- Finish:2ndThumbnail ----------- -->

								<!-- ----------- Begin:3rdThumbnail ----------- -->
								<li class="col-sm-3 col-xs-3">
									<div class="ImageWrapper">
										<img class="img-responsive" src="images/recent-works/recent11.jpg" title="Image title" alt="alternative information">
										<div class="ImageCaption">
											<div class="CaptionContent">
												<h3>PROJECT TITLE</h3>
												<small>Graphic Design</small>
											</div>
										</div>
										<div class="Buttons">
											<a href=""><i class="fa-link"></i></a>
											<a href="images/recent-works/recent11.jpg" class="fancybox"><i class="fa-search"></i></a>
										</div>
									</div>
								</li>
								<!-- ----------- Finish:3rdThumbnail ----------- -->

								<!-- ----------- Begin:4thThumbnail ----------- -->
								<li class="col-sm-3 col-xs-3">
									<div class="ImageWrapper">
										<img class="img-responsive" src="images/recent-works/recent12.jpg" title="Image title" alt="alternative information">
										<div class="ImageCaption">
											<div class="CaptionContent">
												<h3>PROJECT TITLE</h3>
												<small>Graphic Design</small>
											</div>
										</div>
										<div class="Buttons">
											<a href=""><i class="fa-link"></i></a>
											<a href="images/recent-works/recent12.jpg" class="fancybox"><i class="fa-search"></i></a>
										</div>
									</div>
								</li>
								<!-- ----------- Finish:4thThumbnail ----------- -->
							</div>
						</ul>
						<!-- ----------- Finish:Third4Thumbnails ----------- -->
					</div>
				</div>
			</div>
		</div>
		<!-- ----------- Finish:RecentWorksCarousel ----------- -->
	</div>
</div>

<!--
============================================
TESTIMONIALS
============================================= -->
<div class="container">
	<div class="row">
		<div class="Testimonials clearfix">
			<!-- ----------- Begin:TestimonialsContent ----------- -->
			<div class="col-sm-8">
				<div class="TestimonialsContent WhiteSkin tab-content">
					<div class="TestimonialsEntry tab-pane" id="GRAPHICRIVER">
						<img src="img/envato-logos/griver.png" title="Image title" alt="alternative information">
						<blockquote>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</blockquote>
						<p>
							John Doe, Director at Company.
						</p>
					</div>
					<div class="TestimonialsEntry tab-pane active" id="ENVATO">
						<img src="img/envato-logos/envato.png" title="Image title" alt="alternative information">
						<blockquote>
							consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</blockquote>
						<p>
							Lorem ipsum, Founder and Director at Company.
						</p>
					</div>
					<div class="TestimonialsEntry tab-pane" id="THEMEFOREST">
						<img src="img/envato-logos/themeforest.png" title="Image title" alt="alternative information">
						<blockquote>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</blockquote>
						<p>
							John Doe, Director at Company.
						</p>
					</div>
					<div class="TestimonialsEntry tab-pane" id="ACTIVEDEN">
						<img src="http://www.navidesign.ir/INFINITY/img/envato-logos/activeden.png" title="Image title" alt="alternative information">
						<blockquote>
							consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</blockquote>
						<p>
							Lorem ipsum, Founder and Director at Company.
						</p>
					</div>
				</div>
			</div>
			<!-- ----------- Finish:TestimonialsContent ----------- -->

			<!-- ----------- Begin:TestimonialsBlocks ----------- -->
			<div class="col-sm-4">
				<div class="TestimonialsBlocksWrapper">
					<ul id="TestimonialsBlocks">
						<a href="index.html#GRAPHICRIVER" data-toggle="tab">
							<li class="WhiteSkin">GRAPHICRIVER</li>
						</a>
						<a href="index.html#ENVATO" data-toggle="tab">
							<li class="WhiteSkin active">ENVATO</li>
						</a>
						<a href="index.html#THEMEFOREST" data-toggle="tab">
							<li class="WhiteSkin">THEMEFOREST</li>
						</a>
						<a href="index.html#ACTIVEDEN" data-toggle="tab">
							<li class="WhiteSkin">ACTIVEDEN</li>
						</a>
					</ul>
				</div>
			</div>
			<!-- ----------- Finish:TestimonialsBlocks ----------- -->
		</div>
	</div>
</div>

<!--
============================================
OUR CLIENTS
============================================= -->
<div class="container hidden-xs">
	<div class="OurClients clearfix">
		<!-- ----------- Begin:OurClientsHeader ----------- -->
		<div class="OurClientsHeader">
			<h2>OUR CLIENTS</h2>

			<div class="OurClientsCarouselCtrls">
				<a data-slide="next" href="index.html#OurClients" class="OurClientsCarouselBtns"><i class="fa-angle-right"></i></a>
				<a data-slide="prev" href="index.html#OurClients" class="OurClientsCarouselBtns"><i class="fa-angle-left"></i></a>
			</div>
		</div>
		<!-- ----------- Finish:OurClientsHeader ----------- -->

		<!-- ----------- Begin:OurClientsCarousel ----------- -->
		<div class="OurClientsCarousel">
			<div class="col-sm-12">
				<div class="carousel slide" id="OurClients">
					<div class="carousel-inner">
						<div class="item active">
							<ul class="thumbnails">
								<li class="col-sm-3">
									<a href="index.html#">
										<img class="grayscale img-responsive" src="http://www.navidesign.ir/INFINITY/images/clients/unityb.png" title="Image title" alt="alternative information" effect="mono" inverse="true">
									</a>
								</li>
								<li class="col-sm-3">
									<a href="index.html#">
										<img class="grayscale img-responsive" src="http://www.navidesign.ir/INFINITY/images/clients/enterprisesb.png" title="Image title" alt="alternative information" effect="mono" inverse="true">
									</a>
								</li>
								<li class="col-sm-3">
									<a href="index.html#">
										<img class="grayscale img-responsive" src="http://www.navidesign.ir/INFINITY/images/clients/tvdigitalb.png" title="Image title" alt="alternative information" effect="mono" inverse="true">
									</a>
								</li>
								<li class="col-sm-3">
									<a href="index.html#">
										<img class="grayscale img-responsive" src="http://www.navidesign.ir/INFINITY/images/clients/changesb.png" title="Image title" alt="alternative information" effect="mono" inverse="true">
									</a>
								</li>
							</ul>
						</div>
						<!-- /Slide1 -->
						<div class="item">
							<ul class="thumbnails">
								<li class="col-sm-3">
									<a href="index.html#">
										<img class="grayscale img-responsive" src="http://www.navidesign.ir/INFINITY/images/clients/enterprisesb.png" title="Image title" alt="alternative information" effect="mono" inverse="true">
									</a>
								</li>
								<li class="col-sm-3">
									<a href="index.html#">
										<img class="grayscale img-responsive" src="http://www.navidesign.ir/INFINITY/images/clients/tvdigitalb.png" title="Image title" alt="alternative information" effect="mono" inverse="true">
									</a>
								</li>
								<li class="col-sm-3">
									<a href="index.html#">
										<img class="grayscale img-responsive" src="http://www.navidesign.ir/INFINITY/images/clients/unityb.png" title="Image title" alt="alternative information" effect="mono" inverse="true">
									</a>
								</li>
								<li class="col-sm-3">
									<a href="index.html#">
										<img class="grayscale img-responsive" src="http://www.navidesign.ir/INFINITY/images/clients/changesb.png" title="Image title" alt="alternative information" effect="mono" inverse="true">
									</a>
								</li>
							</ul>
						</div>
						<!-- /Slide2 -->
						<div class="item">
							<ul class="thumbnails">
								<li class="col-sm-3">
									<a href="index.html#">
										<img class="grayscale img-responsive" src="http://www.navidesign.ir/INFINITY/images/clients/unityb.png" title="Image title" alt="alternative information" effect="mono" inverse="true">
									</a>
								</li>
								<li class="col-sm-3">
									<a href="index.html#">
										<img class="grayscale img-responsive" src="http://www.navidesign.ir/INFINITY/images/clients/changesb.png" title="Image title" alt="alternative information" effect="mono" inverse="true">
									</a>
								</li>
								<li class="col-sm-3">
									<a href="index.html#">
										<img class="grayscale img-responsive" src="http://www.navidesign.ir/INFINITY/images/clients/enterprisesb.png" title="Image title" alt="alternative information" effect="mono" inverse="true">
									</a>
								</li>
								<li class="col-sm-3">
									<a href="index.html#">
										<img class="grayscale img-responsive" src="http://www.navidesign.ir/INFINITY/images/clients/tvdigitalb.png" title="Image title" alt="alternative information" effect="mono" inverse="true">
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- ----------- Finish:OurClientsCarousel ----------- -->
	</div>
</div>

<!--
============================================
BACK TO UP
============================================= -->
<div id="BackToUp">
	<div class="BackToUpButton">
		<span id="ScrollTop"><i class="fa-angle-up"></i>
		</span>
	</div>
</div>

<!--
============================================
CONTACT INFORMATION
============================================= -->
<div class="Divider">
	<div class="container">
		<div class="ContactInformation">
			<a href="index.html#">CONTACT INFO</a>
		</div>
	</div>
</div>

<!--
============================================
FOOTER
============================================= -->
<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<!-- ----------- Begin:AboutUs ----------- -->
				<div class="AboutUs">
					<!-- ----------- Begin:FooterSiteBrand ----------- -->
					<div class="FooterSiteBrand">
						<img src="http://www.navidesign.ir/INFINITY/img/footer-logos/f-logo.png" title="Image title" alt="alternative information">
					</div>
					<!-- ----------- Finish:FooterSiteBrand ----------- -->
					<p>
						risus. Integer iaculis est sit amet varius vehicula. Sed pellentesque vulputate lectusut viverra. Sed fringilla facilisis faucibus. Proin vitae
					</p>
				</div>
				<!-- ----------- Finish:AboutUs ----------- -->

				<!-- ----------- Begin:FooterTwitterWidget ----------- -->
				<div class="FooterTwitterWidget">
					<ul class="media-list">
						<li class="media">
							<a class="pull-left" href="index.html#">
								<img class="media-object img-circle img-responsive" src="http://www.navidesign.ir/INFINITY/images/twitter/face1.png" title="Image title" alt="alternative information">
							</a>
							<div class="media-body">
								<h4 class="media-heading"><i class="fa-twitter"></i>19th April 2012, by John Doe.</h4>
								Etiam orci elit, sodales euismod nunc ac, aliquet rutrum purus. Vivamus venenatis
							</div>
						</li>
						<li class="media">
							<a class="pull-left" href="index.html#">
								<img class="media-object img-circle img-responsive" src="http://www.navidesign.ir/INFINITY/images/twitter/face2.png" title="Image title" alt="alternative information">
							</a>
							<div class="media-body">
								<h4 class="media-heading"><i class="fa-twitter"></i>19th April 2012, by Navid Qasemi.</h4>
								Etiam orci elit, sodales euismod nunc ac, aliquet rutrum purus. Vivamus venenatis
							</div>
						</li>
					</ul>
				</div>
				<!-- ----------- Finish:FooterTwitterWidget ----------- -->
			</div>

			<!-- ----------- Begin:CommunicationPath ----------- -->
			<div class="col-sm-6">
				<div class="CommunicationPath">
					<ul class="media-list">
						<li class="media">
							<a class="pull-left" href="index.html#">
								<i class="fa-location"></i>
							</a>
							<div class="media-body">
								<h4 class="media-heading">Head Office Address</h4>
								Etiam orci elit, sodales euismod nunc ac, aliquet rutrum purus. Vivamus venenatis
							</div>
						</li>
						<li class="media">
							<a class="pull-left" href="index.html#">
								<i class="fa-phone"></i>
							</a>
							<div class="media-body">
								<h4 class="media-heading">Phone Number</h4>
								+98 21 88888888
								<br>+98 21 88888889
							</div>
						</li>
						<li class="media">
							<a class="pull-left" href="index.html#">
								<i class="fa-paper-plane"></i>
							</a>
							<div class="media-body">
								<h4 class="media-heading">Email Address</h4>
								info@domain.com
								<br>sales@domain.com
							</div>
						</li>
					</ul>
				</div>
			</div>
			<!-- ----------- Finish:CommunicationPath ----------- -->
		</div>
	</div>
</footer>

<!--
============================================
PRIVACY SECTION
============================================= -->
<div class="PrivacySection">
	<div class="container">
		<div class="row">
			<ul>
				<li><a href="index.html#">COSTOMER SERVICE</a>
				</li>
				<li><a href="index.html#">ADVERTISE WHIT US</a>
				</li>
				<li><a href="index.html#">TERMS OF SERVICE</a>
				</li>
				<li><a href="index.html#">PRIVACY POLICY</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<!--
============================================
NEWSLETTER
============================================= -->
<div class="NewsLetter">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<ul class="media-list">
					<li class="media">
						<a class="pull-left" href="index.html#">
							<i class="fa-mail"></i>
						</a>
						<div class="media-body">
							<h4 class="media-heading">NEWSLETTER</h4>
							Lorem ipsum dolor sitdolor
						</div>
					</li>
				</ul>
			</div>
			<div class="col-sm-8">
				<div class="input-group">
					<div class="form-control-wrapper clearfix">
						<input class="form-control" type="text" placeholder="Enter your email address">
					</div>
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">SIGN UP</button>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>

<!--
============================================
COPYRIGHT
============================================= -->
<div class="CopyRightWrapper">
	<div class="container">
		<div class="row">
			<div class="CopyRight">
				&copy 2013-2014 PopCode All Right Reserved
			</div>
		</div>
	</div>
</div>
<!-- javascript
================================================== -->
<!-- These are all the javascript files -->
<script src="http://www.navidesign.ir/INFINITY/js/jquery-1.10.2.min.js"></script>
<script src="http://www.navidesign.ir/INFINITY/js/bootstrap.min.js"></script>
<!-- Plugins -->
<script src="http://www.navidesign.ir/INFINITY/js/bootstrap-hover-dropdown.min.js"></script>
<script src="http://www.navidesign.ir/INFINITY/js/jquery.bxslider.min.js"></script>
<script src="http://www.navidesign.ir/INFINITY/js/jquery.nivo.slider.pack.js"></script>
<script src="http://www.navidesign.ir/INFINITY/owl-carousel/owl.carousel.js"></script>
<script src="http://www.navidesign.ir/INFINITY/js/jquery.fancybox.js"></script>
<script src="http://www.navidesign.ir/INFINITY/js/jquery.easing.1.3.js"></script>
<script src="http://www.navidesign.ir/INFINITY/js/progressbar-plugin.js"></script>
<script src="http://www.navidesign.ir/INFINITY/js/jquery.fittext.js"></script>
<script src="http://www.navidesign.ir/INFINITY/js/custom.js"></script>
<script src="http://www.navidesign.ir/INFINITY/js/color-picker.js"></script>
<script src="http://www.navidesign.ir/INFINITY/js/modernizr.js"></script>
<script src="http://www.navidesign.ir/INFINITY/js/jquery.retina.js"></script>
